## 1. dict()

In [ ]:
# Cria um dicionário
meu_dicionario = dict(nome="João", idade=30, cidade="São Paulo")
print(meu_dicionario)

## 2. enumerate()

In [ ]:
# Retorna um objeto enumerado, útil para iterar com índices
frutas = ["maçã", "banana", "laranja"]
for indice, fruta in enumerate(frutas):
    print(indice, fruta)

## 3. float()

In [ ]:
# Converte um número ou string em ponto flutuante
numero = float(10)
print(numero)

## 4. help()

In [ ]:
# Mostra a documentação de um objeto ou função
help(print)

## 5. input()

In [ ]:
# Recebe uma entrada do usuário
nome = input("Digite seu nome: ")
print(f"Olá, {nome}!")

## 6. int()

In [ ]:
# Converte um número ou string em um inteiro
numero = int("20")
print(numero)

## 7. len()

In [ ]:
# Retorna o tamanho de uma sequência (string, lista, etc.)
frutas = ["maçã", "banana", "laranja"]
print(len(frutas))

## 8. list()

In [ ]:
# Converte um objeto iterável em uma lista
tupla = (1, 2, 3)
lista = list(tupla)
print(lista)

## 9. max()

In [ ]:
# Retorna o maior valor em uma sequência
numeros = [10, 20, 30, 40]
print(max(numeros))

## 10. min()

In [ ]:
# Retorna o menor valor em uma sequência
numeros = [10, 20, 30, 40]
print(min(numeros))

## 11. print()

In [ ]:
# Imprime uma saída na tela
print("Olá, Mundo!")

## 12. range()

In [ ]:
# Gera uma sequência de números
for i in range(5):
    print(i)

## 13. reversed()

In [ ]:
# Inverte uma sequência
lista = [1, 2, 3, 4]
print(list(reversed(lista)))

## 14. round()

In [ ]:
# Arredonda um número para o número de casas decimais fornecido
numero = 3.14159
print(round(numero, 2))

## 15. set()

In [ ]:
# Cria um conjunto (set), que não permite valores duplicados
conjunto = set([1, 2, 2, 3, 4])
print(conjunto)

## 16. str()

In [ ]:
# Converte um objeto em string
numero = 123
texto = str(numero)
print(texto)

## 17. sum()

In [ ]:
# Retorna a soma de todos os elementos em um iterável
numeros = [1, 2, 3, 4]
print(sum(numeros))

## 18. type()

In [ ]:
# Retorna o tipo de um objeto
print(type(10))
print(type("Olá"))
print(type([1, 2, 3]))